# Phyton ka chilla with ammar
## How to use jupyter note book
### Basics of python
#### 01_My first program

In [4]:
print(2+3)
print("Hello Awais")
print("I am learning python with aammar")

5
Hello Awais
I am learning python with aammar

# 02_operators

In [5]:
print(2+2)
print(3**2)
print(4-2)
print(8/4)

4
9
2
2.0

*python follows PEMDAS rules
Paranthesis Exponent Multiply Divide Addition Subtraction
follows left to right sequence for M D & A S*

# 03_strings

In [6]:
print('Hello')
print("Hello")
print('''Hello''')

Hello
Hello
Hello

In [7]:
print("Hello Awais")
print("I am learning python with aammar")

Hello Awais
I am learning python with aammar

*scripts written in ''. "", ''' ''', known as strings*

# 04_Comments

In [8]:
print("i am learning python with ammar")
print(2+3)

i am learning python with ammar
5

*commenting helps in determining the function of script/string*

# 05_variables

In [10]:
x=5 #intiger variable
print(x)
y="I am learning python" #string variable
print(y)

5
I am learning python

In [11]:
fruit_basket= "mangoes"
print(fruit_basket)

mangoes

*types of variables*

*rules to assign a variable*

*1-the variable should contain letters, numbers or underscores
*2- do not strat with numbers
*3- spaces arent allowed
*4- do not use keywords used in functions (mean, median, test etc)
*5- must be short and descriptive
*6- case sensitivity (always use lower case letters)*

# 06_input variables

In [12]:
fruit_basket=("what is your favourite fruit? ")
print(fruit_basket) #input function simple

what is your favourite fruit?

In [13]:
#input function of 2nd stage
name=input("what is your name? ")
greetings="hello!"
print(greetings, name)

what is your name? awais
hello! awais

In [14]:

#another way of stage 2 input function

name=input("what is your name? ")
print("hello!", name)

what is your name? awais
hello! awais

In [15]:
#3rd stage of input function

name=input("what is your name? ")
age=input("how old are you? ")
greetings="Hello!"
print(greetings, name, ", you are still young")

what is your name? awais
how old are you? 30
Hello! awais , you are still young

## 07_conditional_logics

*Logical operators are either yes or no, true or false, 0 or 1*
*equal to ==*
*not equal to !=*
*less then <*
*greater then >*
*less then and equal to <=*
*greater then and equal to >=*

In [16]:
print(4==4) #will code true, single equal (=) will not work

True

In [17]:
print(4!=4)
print(4>3)
88print(3<6)
print(3>6)

False
True
True
False

**application of logical operators**

In [18]:
awais_age=4
age_at_school=5
print(awais_age==age_at_school)

False

**input function and logicals operators**

In [19]:
awais_age=4
age_at_school=5
awais_age=input("how old is awais? ") #input function
awais_age=int(awais_age) #int means integer 
print(type(awais_age))
print(awais_age==age_at_school) #logical operators

how old is awais? 30
<class 'int'>
False

## 08_type_conversion

*x=10 #integer, y=10.2 #float/decimal, z="hello" #string*

**implicit type of conversion**

In [21]:
x=10
y=10.2
x=x+y
print(x, "type of x is:", type(x))

20.2 type of x is: <class 'float'>

**explicit type conversion**

In [22]:
age=input("what is your age? ")
age=int(age)
print(type(age))

what is your age? 30
<class 'int'>

## 09_if, else or elif

In [23]:
awais_age= 1
required_age_at_school= 5 #can awais go to school?
if awais_age==required_age_at_school :
    print("congratulations! awais can join the school.")
elif awais_age > required_age_at_school:
    print("awais should join higher secondary school")
elif awais_age<=2:
    print("you should take care of awais he is still baby!")    
else:
    print("awais cant go to school")

you should take care of awais he is still baby!

## 10_functions

**defining a function for any mistake within a string**

In [24]:

def print_codanics():
    print("i am learning with ammar")
    print("i am learning with ammar")
    print("i am learning with ammar")
print_codanics()

i am learning with ammar
i am learning with ammar
i am learning with ammar

**Second way**

In [25]:
def print_codanics():
    Text = "i am learning with ammar"
    print(Text)
    print(Text)
    print(Text) 
print_codanics()

i am learning with ammar
i am learning with ammar
i am learning with ammar

**third way**

In [26]:
def print_condanics(text):
    print(text)
    print(text)
    print(text)
print_condanics("i am learning with ammar")

i am learning with ammar
i am learning with ammar
i am learning with ammar

**fourth way, defining a function with if, elif and else statements**

In [28]:
def school_calculator(age, text):
    if age==5:
        print("awais can join the school")
    elif age>5:
        print("awais should go to higher school")
    else:
        print("awais is still a baby")

**defining a function of future**

In [29]:
def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)

future_predcited_age=future_age(5)
print(future_predcited_age)

25

## 11_loops

In [30]:
for x in range(4,11):
    print(x)

4
5
6
7
8
9
10

**array**

In [31]:
days=["mon","tue","weds","thurs","firday","saturd","sund"]
for d in days:
    if (d=="friday"): break
    if(d=="friday"): continue
    print(d)

mon
tue
weds
thurs
firday
saturd
sund

## 12_import_libraries

*how to import already defined functions, Exanple, print the value of pi*

In [32]:
import math
print("the value of pi is", math.pi)

the value of pi is 3.141592653589793

In [34]:
import statistics
x=[150,250,350,450]
print(statistics.mean(x))

300

*Important libraries, numpy, pandas, important libraries*

## 13_troubleshooting

In [36]:
print("i am learning with ammar) #syntax error (python language error)

SyntaxError: EOL while scanning string literal (Temp/ipykernel_9696/457020196.py, line 1)

In [37]:
print(25/0) #runtime error (mathematical error)

ZeroDivisionError: division by zero

In [38]:
name="awais"
print("hello", name) #symantic error (our mistake, typing or coding error)

hello awais